<div>
  <h1>Some Data</h1>
  Current Foo Data<br>
  <%= inspect get_foo_data() %><br>
  Current Bar Data<br>
  <%= inspect get_bar_data() %><br>
  Current Baz Data<br>
  <%= inspect get_baz_data() %>
</div>